components/__pycache__/
__pycache__/*
__pycache__/**
__pycache__/**/*
__pycache__/**/**
__pycache__/**/**/*
__pycache__/**/**/**
__pycache__/**/**/**/*
__pycache__/**/**/**/**
__pycache__/**/**/**/**/*
__pycache__/**/**/**/**/**
__pycache__/**/**/**/**/**/*
__pycache__/**/**/**/**/**/**
.venv/
.venv/**
.venv/**/*
.venv/**/**
.venv/**/**/*
.venv/**/**/**
.venv/**/**/**/*
.venv/**/**/**/**
.venv/**/**/**/**/*
.venv/**/**/**/**/**
.venv/**/**/**/**/**/*
.venv/**/**/**/**/**/**
.env
components/ai_summary/__pycache__/
components/ai_summary/__pycache__/*
components/ai_summary/__pycache__/**/*
components/ai_summary/__pycache__/**/**
components/ai_summary/__pycache__/**/**/*